.customers__section{
    padding: 94px 0;
    padding-top: 94px;
    padding-right: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
}
.customers{
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.customers__emblem{
    padding: 94 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.customers__svg{
    fill: currentColor;
            }

.customers__social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 94px;
    color: #AFB1B8;
    transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
    &:hover,
&:focus{
    color: var(--fill-color);
    border: 1px solid #188CE8;
border-radius: 4px;}
}
