.hero__modal-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--whitey-color);
cursor: pointer;
background: #188ce8;
border-color: transparent;
margin-right: auto;
margin-left: auto;
display: block;
transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
&:hover{
    background-color: var(--accent-color);
}
&:focus {
background-color: #188CE8;

}
}



.modal-btn.current {
    color: var(--whitey-color);
    background-color: var(--accent-color);    
}

.modal-btn.active {
    background-color: var(--accent-color);
    color: var(--whitey-color);
}