.modal-form__footer-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--whitey-color);
    margin-bottom: 20px;
    }
    
    
    .modal-form__input-footer{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 12px;
    color: var(--whitey-color);
    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        }
    }
    .modal-form__footer-btn{
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15%);
        border-radius: 4px;
        padding: 10px 28px 10px 28px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        
        }
   
    .modal-form__wrapper-icon{
        display: flex;
        align-items: center;
        
    }
    .modal-form__icon{
        margin-left: 10px;
    }